
@{
    ViewBag.Title = "demandeEnvoye";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<!-- contact -->
<div class="banner-bottom-wthree pt-lg-5 pt-md-3 pt-3">
    <div class="inner-sec-w3ls pt-md-5 pt-md-3 pt-3">

        <h3 class="tittle text-center mb-lg-5 mb-3">
            <span>Get Intouch</span>Client Request
        </h3>

        <div class="container">
            <div class="address row mb-5">
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Address</h6>
                            <p>
                                Montréal, Québec

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Email</h6>
                            <p>
                                Email :
                                <a href="mailto:example@email.com"> info@levio.ca</a>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Phone</h6>
                            <p>514 600-5010</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6 main_grid_contact">
                    <div class="form">
                        <h4 class="mb-4 text-left">Request sent !</h4>

                    </div>
                </div>
            </div>
        </div>

